@import url('/index.css?v=129');

html {
  background: #121212;
}

body {
  filter: invert(1) hue-rotate(180deg);
}

img,
video,
iframe,
canvas,
svg {
  filter: invert(1) hue-rotate(180deg);
}

/* product images */
.card-image-wrapper img {
  filter: brightness(.7) contrast(1.1);
}
